
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.h1 {
  text-align: center;
  color: rgb(44, 40, 40);
  font-style: sans-serif;
  font-family: Arial;
  font-weight: 700;
  font-size: 2.7em;
  margin: 1.4em
}
